	<div class="control-group">
		<div class="control-label">
			<%= f.label :file, 'Arquivo' %>
		</div>
		<div class="control">
			<%= f.file_field(:file) %>
		</div>
	</div>
	<%= f.submit :class => 'button-primary' %>
